
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');

body:not(starter) {
    background-color: black;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

.coral-pixels-regular {
    font-family: "Coral Pixels", serif;
    font-weight: 400;
    font-style: normal;
  }

  
.pixelify-sans{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.theimage {
    height: 100vh;
    width: 400vh;
    background-repeat: no-repeat;
}

label {
color: white;
font-family: "Pixelify Sans", sans-serif;
font-size: 25px;
}

.symbol {
    height: 30px;
    width: 30px;
}

#healthbar, #sanitybar {
    border-color: white;
    border-radius: 5px;
}

progress {
    height: 20px;
    -webkit-appearance: none;
    appearance: none;
    color:yellow;
}

p {
    color:aquamarine;
    font-family: "Coral Pixels", serif;
}

.rotate0 {
    transform: rotate(0deg);
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate270 {
    transform: rotate(270deg);
}

#menu {
    background-image: url(images/SCPtitle.png);
    background-repeat: no-repeat;
}
